body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.error {
  color: red;
}

/* PALETA: https://www.colorhunt.co/palette/22092c872341be3144f05941 */

/* color: 22092C
color: 872341
color: BE3144
color:F 05941 */



