body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  background-color: rgba(0, 0, 0, 0.476);
  padding: 40px 100px;
}

a {
  text-decoration: none;
  color: rgb(255, 128, 0);
}
.nav-link {
  text-decoration: none;
  color: white;
}

h1 {
  color: 15px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
/* .card {
  margin-top: -20px;
} */
.separed {
  margin: 0 10px;
}
.error {
  color: red;
}
.vh-100 {
  border-radius: 500px;
}

/* FLEX */
.flexColumn {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lateral {
  margin-right: 75%;
}
.destacado {
  border-style: solid;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 30px 0;
}

#map {
  height: 300px;
}

/* PALETA: https://www.colorhunt.co/palette/22092c872341be3144f05941 */

/* color: 22092C
color: 872341
color: BE3144
color:F 05941 */

/* .umbrella{
  background-color: rgb(34, 9, 44, 0.5);
} */

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1111111c;
  display: flex;
  opacity: 0;
  pointer-events: none;
}
.modal-show {
  opacity: 1;
  pointer-events: unset;
}

.modal-container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal-title {
  font-size: 2.5rem;
}

.modal-paragraph {
  margin-bottom: 10px;
}
.modal-img {
  width: 90%;
  max-width: 300px;
}
.modal-close {
  text-decoration: none;
  color: #5079f2;
  background-color: #fff;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}
.modal-close:hover {
  color: #fff;
  background-color: #5079f2;
}
